
<Jumbo>
   
  <h2>About what to wear</h2>
  <p>
    that awesome website is a easiest way to choose apparel for activity.
    
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>