
<Jumbo>
  
  <h2>Contact Us</h2>
  <p>
    We would love to help you<br>
    choose a option for contact.
  </p>
  <address>
    Mikita Rusak
    <p>
      based on<br>
      Warsaw, Poland
    </p>
    <a href="tel:511.421.615">+48 511-421-615</a><br>
    <a href="mailto:iamrusaknow@gmail.com">iamrusaknow@gmail.com</a><br>
    Telegram: <a href="https://t.me/iamrusak">@iamrusak</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>